.brackets.json

.idea

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

*.xml

*.iml

.idea/watcherTasks.xml

.idea/watcherTasks.xml

.sass-cache

bower_components

node_modules

lib/wp-menu-item-custom-fields-master/readme.md
lib/wp-menu-item-custom-fields-master/readme.txt
lib/wp-menu-item-custom-fields-master/LICENSE
lib/wp-menu-item-custom-fields-master/doc/menu-item-custom-fields-example.php